{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<div class="card" style="text-align: left">
    <div class="card-header" id="text-start">
        Dentos Clinic
    </div>
    <div class="card-body">
        <h5 class="card-title">Contact us via:</h5>
        <p class="fw-bold" style='margin: 0'>Email</p>
        <p class="fw-lighter text-muted">dentos@gmail.com</p>
        <br>
        <p class="fw-bold" style='margin: 0'>Mobile</p>
        <p class="fw-lighter text-muted">+407338562487</p>
    </div>
</div>

{% endblock %}